<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class=" sticky top-0 w-full flex items-center justify-between px-5 py-3 bg bg-zinc-200">
        <div class="flex items-center gap-1 border-b border-zinc-300">
            <div class="w-5 h-5 bg-zinc-200 rounded-full border border-zinc-400"></div>
            <div class="w-5 h-5 bg-zinc-300 rounded-full border border-zinc-300"></div>
            <div class="w-5 h-5 bg-zinc-200 rounded-full border border-zinc-400"></div>
            <h3 class="text-xl">My BAZAR</h3>
        </div>
            <div class="flex gap-5">
            <a style="height:50px; width:60px" class="border-[1px] px-2 py-1 rounded-md border-zinc-200 flex justify-center items-center hover:border-zinc-400" href="/shop">Shop</a>
            <a style="height:50px; width:60px" class="border-[1px] px-2 py-1 rounded-md border-zinc-200 flex justify-center items-center hover:border-zinc-400" href="/cart">Cart</a>
            <a style="height:50px; width: 80px" class="border-[1px] px-2 py-1 rounded-md border-zinc-200 flex justify-center items-center hover:border-zinc-400" href="">My Account</a>
            <a class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900 " href="/users/logout">logout</a>

        </div>
    </nav>